table, tr, th, td {
    border: 2px rgba(158, 158, 158, 0.438) solid;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

th{
    background-color: rgb(251, 254, 188);
    color: rgb(222, 212, 59) ;
    padding: 0.5rem;
}

td{
    padding: 1rem;  
}

.mitabla{
    margin: auto;
    text-align: center;
}

h1{
    text-align: center;
    color: green;
    font-size: 36px;
}

.t1{
    background-color: rgb(239, 244, 250);
}

.t2{
    background-color: rgb(219, 228, 242);
}